/* Rosé Pine Colour Scheme - https://rosepinetheme.com */
:root{
  --base: #191724;
  --overlay: #26233a;
  --muted: #6e6a86;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
}

@media (prefers-color-scheme: light) {
  :root {
    --base: #faf4ed;
    --overlay: #f2e9e1;
    --muted: #9893a5;
    --text: #575279;
    --love: #b4637a;
    --gold: #ea9d34;
    --pine: #286983;
    --foam: #56949f;
    --iris: #907aa9;
  }
}

/* Selection  */
::selection {
  color: var(--text);
  background: var(--overlay);
}

html{
  font-family: monospace;
  font-size: 30px;
}

body {
  background-color: var(--base);
  color: var(--text);
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0 0 0 0;
}

.clock {
  background-color: var(--base) !important;
  color: var(--pine) !important;
  padding-top: 10%;
}

.formField {
  font-size: 1.3rem;
  background-color: var(--base);
  color: var(--text);
  border: 0;
  border-bottom: 2px solid var(--text);
  outline: none;
  width: 50%;
}

.separator {
  color: var(--text);
  width: 50%
}

.masterList {
  display: flex;
  justify-content:space-around;
  padding-right: 5%;
  padding-left: 5%;

}

/* link colours */
#love:hover {
  color: var(--love) !important;
}

#gold:hover {
  color: var(--gold) !important;
}

#pine:hover {
  color: var(--pine) !important;
}

#foam:hover {
  color: var(--foam) !important;
}

#iris:hover {
  color: var(--iris) !important;
}

#twitter:hover {
  color: #1DA1F2 !important;
}
